.information-container{
    width: 230px;
    margin: 0% auto;
    min-height: 5px;
    border: 2px solid red;
    text-align: left;
    margin-bottom: 2px;
}

.information-without-over{
    color: red;
    font-weight: bold;
}